services:
  _defaults:
    autowire: true
    autoconfigure: false

  # File Persistence Listener
  # Arguments ($fileEntityClass and $storage) will be set by the Extension based on configuration
  # Tags will conditionally register this as a Doctrine event listener
  TeamMatePro\DoctrineUtilsBundle\EventListener\FilePersistenceListener:
    tags:
      - { name: doctrine.event_listener, event: postPersist }
      - { name: doctrine.event_listener, event: postRemove }

  # Timestamp Listener
  # Automatically timestamps entities implementing TimeStampAbleInterface
  TeamMatePro\DoctrineUtilsBundle\EventListener\TimestampListener:
    tags:
      - { name: doctrine.event_listener, event: prePersist }
      - { name: doctrine.event_listener, event: preUpdate }

  # Entity File Factory
  # Default factory that creates File entities from FileInterface
  TeamMatePro\DoctrineUtilsBundle\Factory\EntityFileFactory: ~

  TeamMatePro\DoctrineUtilsBundle\Factory\EntityFileFactoryInterface:
    alias: TeamMatePro\DoctrineUtilsBundle\Factory\EntityFileFactory
